
.product-name-text {
	font-size: 16.569px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	font-weight: bold;
	line-height: 1.2;
	padding : 2px;
}

.product-description {
	padding : 10px;
}

.product-price-text {
  font-size: 16.569px;
  font-family: "Open Sans";
  color: rgb(227, 30, 36);
  line-height: 1.2;
  padding : 2px;
}

.product-detailed {
	font-size: 12px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	line-height: 1.2;
	text-align: center;
	padding-top : 10px;
	padding-bottom : 10px;
}

.product-button {
	float: left;
	padding: 15px;

}

.product-button-text {
	font-size: 14px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	line-height: 1.2;
	text-align: right;
}

.rouble {
  font-size: 16px;
  font-family: "ALS Rubl";
  color: rgb(227, 30, 36);
  line-height: 1.2;
}

.bordered {
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: solid;
  border-radius: 4px;
  background-color: #fff;
}

.padding-top-25 {
  padding-top: 25px;
}
