<div class="container">
  <div class="row">
    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-brand no-padding" [routerLink]="['/index']">
          <span><img  class="logo-img" src="assets/images/logo.png"/></span>
          <span class="header2 header-text "> комфортный салон автомобилей с пробегом </span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right border-right border-left">
        <li class="border-right">
          <div class="search-but">
            <img src="assets/images/search.png" alt="search icon"/>
          </div>
      </li>
        <li><p class="navbar-text">8 (342) <span class="red-bold-text">244-44-22</span> </p></li>
      </ul>
    </nav>
  </div>
</div>


  <nav class="navbar">
    <div class="navbar navbar-default">
      <div class="container">
        <ul class="row nav navbar-nav nav-text" (mouseenter) ="mouseEnterDetailedNav('div a') "  (mouseleave) ="mouseLeaveDetailedNav('div A')">
          <li>
            <a (mouseenter) ="mouseEnter('div a') " (mouseleave) ="mouseLeave('div A')">Купить автомобиль</a>
            <div *ngIf="isNavDetailsShow || isNavDetailsHowered">
              <ul class="btn-group-vertical nav navbar-nav nav-text" role="group" aria-label="...">
              <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/buy_special']"> Специальное предложения </a> </li>
              <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/buy_stock']"> Автомобили в наличии </a> </li>
              <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/buy_order']"> Автомобили на заказ  </a> </li>
              </ul>
            </div>
          </li>
        <li>
          <a (mouseenter) ="mouseEnter('div a') " (mouseleave) ="mouseLeave('div A')">Продать автомобиль</a>
          <div *ngIf="isNavDetailsShow || isNavDetailsHowered" >
            <ul class="btn-group-vertical nav navbar-nav nav-text" role="group" aria-label="...">
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/sell_fast']"> Быстрая продажа </a> </li>
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/sell_com']"> Комиссионная продажа </a> </li>
            </ul>
          </div>
        </li>
        <li>
          <a (mouseenter) ="mouseEnter('div a') " (mouseleave) ="mouseLeave('div A')">Услуги</a>
          <div *ngIf="isNavDetailsShow || isNavDetailsHowered" >
            <ul class="btn-group-vertical nav navbar-nav nav-text" role="group" aria-label="...">
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/tradein']"> Trade-In </a> </li>
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/valuation']"> Оценка стоимости </a> </li>
            </ul>
          </div>
        </li>
        <li>
          <a (mouseenter) ="mouseEnter('div a') " (mouseleave) ="mouseLeave('div A')">О компании</a>
          <div *ngIf="isNavDetailsShow || isNavDetailsHowered" >
            <ul class="btn-group-vertical nav navbar-nav nav-text" role="group" aria-label="...">
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/contacts']"> Контакты </a> </li>
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/employes']"> Наши сотрудники </a> </li>
            <li class="btn-group btn-group-xs" role="group"> <a style="padding-top: 0px" [routerLink]="['/aboutus']"> О нас </a> </li>
            </ul>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="slide-wrapper">

     <div id="homepage-feature" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
           <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
           <li data-target="#homepage-feature" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

           <div class="item active" style="background-image:url(assets/images/slide_picture1.png)">
           </div>

           <div class="item" style="background-image:url(assets/images/car1.png)">
           </div>

        </div>
        <!-- /.carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
          <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#homepage-feature" data-slide="next">
          <span class="fa fa-angle-right"></span>
        </a>
     </div>
     <!-- /#homepage-feature.carousel -->
     <div class="red">
       <div class="red-content">
         <div class="header1">TOYOTA CAMRY</div>
         <div style="padding-top:25px; padding-bottom:25px">Весенние скидки до 100 000 рублей</div>
         <div class="jum-button">
           <p><a class="btn btn-primary btn-custom-red  btn-primary-custom-red btn-lg" href="#" role="button">Подробнее</a></p>
         </div>
       </div>
     </div>

  </div>
  <!-- /.container.slide-wrapper -->
     <script type='text/javascript'>
         $(document).ready(function() {
              $('#homepage-feature').carousel({
                  interval: 2000
              })
         });
     </script>
   <!-- Router Outlet -->
    <router-outlet></router-outlet>


			<footer class="dark-gray-back">
        <div class="container" style="padding-top: 25px">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <form class="form-horizontal footer-content">
              <div class="col-sm-11 text-center" style="padding-bottom:15px"> <p>Подписка на специальные предложения
              и новые поступления: </p>
              </div>
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Имя">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-9">
                  <input type="password" class="form-control" id="pwd" placeholder="E-mail">
                  </div>
                </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-12">
                <button type="submit" class="btn btn-default btn-custom-red  btn-primary-custom-red">Подписаться</button>
                </div>
              </div>
              <div class="form-group col-sm-12 text-center"> г. Пермь, шоссе Космонавтов, 47а</div>
            </form>


          </div>
          <div class="col-md-4">
          </div>
        </div>
    	 </footer>
